<footer class="bg-white text-center text-dark mt-5 pt-4 mb-0 pb-0 border-top">
  <div class="container">
    <!-- Social Icons -->
    <div class="mb-3 d-flex justify-content-center gap-4 fs-4">
      <a href="#" class="text-danger"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="text-danger"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="#" class="text-danger"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#" class="text-danger"><i class="fa-brands fa-github"></i></a>
    </div>

    <!-- Navigation Links -->
    <div class="mb-3 d-flex justify-content-center gap-4">
      <a class="text-decoration-none text-dark" href="/listings">All Listings</a>
      <a class="text-decoration-none text-dark" href="/listings/new">Add New Listing</a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-muted pb-1">
      Copyright© 2025. Designed & Developed by Sneha Panchal
    </div>
  </div>
</footer>
