body {
  padding-top: 5rem;
  /* Optional: padding-bottom: 3rem; if footer is fixed */
}


.navbar{
    height: 5rem;
}

.fa-house{
    color: brown;
    font-size: 30px;
}

.nav-link{
    color: black !important;
    font-size: 1rem !important;
}

footer {
  height: 150px !important;
  overflow: hidden !important; /* Crops any content exceeding 50px */
}

body, html {
  height: 100%;
}

.container {
  flex: 1; /* let main content grow, footer stays at bottom */
}

.homify-listing{
  display: grid;
  grid-template-columns: auto auto auto;
   gap: 20px;
  padding: 20px;
  justify-content: center;
}

.listing-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.listing-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.edit-btn {
  display: flex;
  gap: 10px;
}